﻿
html {
    font-size: 16px;
}

body {
    background: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
}

.page-wrapper {
    padding: 0 50px 30px 50px;
    max-width: 1200px;
    margin: 30px auto 0 auto;
}

#footer {
    padding: 10px 0 10px 0;
    height: 40px;
    bottom: 0;
    color: white;
    background: #2d2d2d;
    text-align: center;
}

#header {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    background: #2d2d2d;
    color: white;
    top: 0;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #D81B60;
}

.main-menu li {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.2em;
}

.main-menu a {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 1em;
    border-right: 1px solid #2d2d2d;
}

.main-menu a:hover {
        color: #D81B60;
}

.main-menu li:last-child a {
    padding-right: 0;
    border-right: 0;
}

.row {
    text-align: center;
    margin-bottom: 20px;
}

.col-md-12 {
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
    background: #ffffff;
}

p {
    font-size: 16px;
}

h1 {
    font-weight: bold;
}

h1, h2 {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    background: #2d2d2d;
    color: white;
}

.usefulLinks li {
    list-style: none;
    margin-right: 1em;
    font-size: 1.2em;
}

.usefulLinks a {
    color: #2d2d2d;
    text-decoration: none;
    padding-right: 1em;
}

    .usefulLinks a:hover {
        color: #65b6de;
    }

.sample-img {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*DATAGRID SKIN*/
.dataGrid {
    width: 100%;
    height: 200px;
    overflow: auto;
    padding:50px;
}

.headerGrid {
    font-size: large;
    background: white;
    color: #2d2d2d;
    BackColor: red;
    padding: 50px;
}

.itemGrid {
    font-size: medium;
    background: white;
    color: #2d2d2d;
    padding: 50px;
}
td{
    padding:5px;
}